.aboutContainer {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 80vw;
  margin: 0 auto;
  padding-top: 20px;
}

.aboutLeft {
  flex: 1;
  margin-right: 40px;
  text-align: left;
}

.aboutRight {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 300px;
}

h1 {
  font-family: "Oswald", sans-serif;
  margin-bottom: 30px;
  color: var(--wine-color);
  font-size: 3rem;
}

h2 {
  font-family: "Oswald", sans-serif;
  font-weight: 300;
  margin-bottom: 10px;
  color: var(--unbothered-color);
  font-size: 2rem;
  margin-bottom: 15px;
}

p,
a {
  font-family: "Merriweather", serif; /* Ensure it uses the same font */
  font-size: 20px;
  color: var(--text-color);
  margin-bottom: 20px;
  font-weight: 300;
  font-size: 1.2rem;
  color: var(--text-color);
}

/* Responsive styles for tablets (iPad) */
@media (max-width: 1024px) {
  .aboutContainer {
    flex-direction: column;
    width: 90vw; /* Adjust width as needed */
  }

  .aboutLeft {
    margin-right: 0;
    margin-bottom: 20px; /* Add space between text and image on small screens */
  }

  .aboutRight {
    min-height: auto;
  }

  h1 {
    font-size: 2.5rem; /* Adjust font size for tablets */
  }

  h2 {
    font-size: 1.75rem; /* Adjust font size for tablets */
  }

  p,
  a {
    font-size: 1.1rem; /* Adjust font size for tablets */
  }
}

/* Responsive styles for mobile screens */
@media (max-width: 768px) {
  .aboutContainer {
    flex-direction: column;
    width: 90vw; /* Adjust width as needed */
  }

  .aboutLeft {
    margin-right: 0;
    margin-bottom: 20px; /* Add space between text and image on small screens */
  }

  .aboutRight {
    min-height: auto;
  }

  h1 {
    font-size: 2rem; /* Adjust font size for mobile screens */
  }

  h2 {
    font-size: 1.5rem; /* Adjust font size for mobile screens */
  }

  p,
  a {
    font-size: 1rem; /* Adjust font size for mobile screens */
  }
}
