@import url("variables.css");

@font-face {
  font-family: "Rafael";
  src: url("../assets/fonts/rafael_display-webfont.woff") format("woff"),
    url("../assets/fonts/RafaelDisplay.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

body,
html {
  height: 100%;
  margin: 0;
}

h1,
h2,
h3,
a {
  font-family: Merriweather;
}

h1.rafael {
  font-family: "Rafael", sans-serif; /* Apply it globally or customize as needed */
  font-size: 5rem;
}

.contactContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  border: 1px;
  padding-top: 30px;
}

a {
  display: flex;
  align-items: center; /* Align links vertically */
  color: var(--primary-color); /* Link color */
  text-decoration: none; /* Remove underline from links */
  font-family: Oswald; /* Match the font family of the nav links */
  font-weight: bold;
  font-size: 1.5rem;
  margin: 0 10px; /* Add horizontal spacing between icons */
}
a:hover {
  color: var(--secondary-color); /* Change color on hover */
}
