/* Footer Styles */
.footer {
  display: flex;
  justify-content: center; /* Center the content horizontally */
  align-items: center; /* Align items vertically in the center */
  padding: 20px; /* Match the padding of the nav */
  position: fixed;
  bottom: 0; /* Positions the footer at the bottom of the viewport */
  left: 0; /* Positions the footer at the left edge of the viewport */
  width: 100vw; /* Ensures the footer stretches across the full width */
  box-sizing: border-box;
  color: var(--primary-color); /* White text color */
}

/* Footer Content Styling */
.footer-content {
  display: flex;
  justify-content: space-between; /* Center the content horizontally */ /* Limit the width of the content */
  margin: 0 auto; /* Center the content */
  width: 100%; /* Ensure it stretches across the available space */
}

.footer p {
  display: flex;
}
/* Footer Links */
.footer a {
  align-items: center; /* Align links vertically */
  color: var(--primary-color); /* Link color */
  text-decoration: none; /* Remove underline from links */
  font-family: Oswald; /* Match the font family of the nav links */
  font-weight: bold;
  font-size: 1.5rem;
  margin: 0 10px; /* Add horizontal spacing between icons */
}

/* Hover effect for footer links */
.footer a:hover {
  color: var(--secondary-color); /* Change color on hover */
}
