@font-face {
  font-family: "Rafael";
  src: url("../assets/fonts/rafael_display-webfont.woff") format("woff"),
    url("../assets/fonts/RafaelDisplay.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

/* --wine-color: #a52a2a; /* Rich wine color for sophistication */
/* --chocolate-color: #3e2723; /* Dark chocolate brown for warmth (same as primary) */
/* --unbothered-color: #008080 */

h1 {
  font-family: Merriweather;
  font-size: 1rem;
  font-weight: bold;
  background: linear-gradient(
    90deg,
    var(--wine-color),
    var(--chocolate-color),
    var(--unbothered-color)
  );
  -webkit-background-clip: text;
  color: transparent;
  animation: gradientAnimation 5s ease-in-out infinite;
  background-size: 200% 200%;
}

h1.rafael {
  font-family: rafael;
  font-size: 9rem;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.marquee {
  width: 100vw;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  padding-top: 20px;
}

.marquee-inner {
  display: flex;
  white-space: nowrap;
  animation: loopText 30s ease-in-out infinite;
}

.marquee-inner span {
  font-size: 8vw; /* Adjust size based on screen width */
  margin-right: 2vw; /* Add some spacing between repetitions */
}

@keyframes loopText {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

/* Responsive Styles */

/* For tablets (768px - 1024px) */
@media (max-width: 1024px) and (min-width: 768px) {
  .marquee {
    padding-top: 30px; /* Adjust padding for tablets */
  }

  .marquee-inner span {
    font-size: 6vw; /* Smaller font size for tablets */
    margin-right: 1.5vw; /* Adjust spacing */
  }

  h1 {
    font-size: 10rem; /* Smaller font size for tablets */
  }
}

/* For mobile (below 768px) */
@media (max-width: 768px) {
  .marquee {
    padding-top: 30px; /* Adjust padding for mobile */
  }

  .marquee-inner span {
    font-size: 10vw; /* Larger font size for mobile to maintain readability */
    margin-right: 2vw; /* Adjust spacing */
  }

  h1 {
    font-size: 8rem; /* Smaller font size for mobile */
  }
}
