/* Setting up a base font size */
html {
  font-size: 16px; /* 1rem = 16px */
}

@font-face {
  font-family: "Rafael";
  src: url("../assets/fonts/rafael_display-webfont.woff") format("woff"),
    url("../assets/fonts/RafaelDisplay.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

h1.rafael {
  font-family: Rafael;
  font-size: 18.75rem; /* 300px / 16 = 18.75rem */
  font-weight: bold;
  background: linear-gradient(
    90deg,
    var(--wine-color),
    var(--chocolate-color),
    var(--unbothered-color)
  );
  -webkit-background-clip: text;
  color: transparent;
  animation: gradientAnimation 5s ease-in-out infinite;
  background-size: 200% 200%;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.marquee {
  width: 100vw;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  padding-top: 2.5rem; /* 40px / 16 = 2.5rem */
}

.marquee-inner {
  display: flex;
  white-space: nowrap;
  animation: loopText 30s ease-in-out infinite;
}

.marquee-inner span {
  font-size: 8vw; /* Responsive font size based on viewport width */
  margin-right: 2vw; /* Spacing between repetitions */
}

@keyframes loopText {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

/* Media Queries for Responsiveness */
@media (max-width: 1024px) {
  /* Tablet screens */
  h1.rafael {
    font-size: 11.25rem; /* 180px / 16 = 11.25rem */
  }
}

@media (max-width: 768px) {
  /* Mobile screens */
  h1.rafael {
    font-size: 11rem; /* 120px / 16 = 7.5rem */
  }
}

@media (max-width: 480px) {
  /* Extra small screens */
  h1.rafael {
    font-size: 8rem; /* 80px / 16 = 5rem */
  }
  .marquee {
    padding-top: 3.125rem; /* 50px / 16 = 3.125rem */
  }
}
