@font-face {
  font-family: "Rafael";
  src: url("../assets/fonts/rafael_display-webfont.woff") format("woff"),
    url("../assets/fonts/RafaelDisplay.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

h1.rafael {
  font-family: Rafael;
  font-size: 250px;
  font-weight: bold;
  background: linear-gradient(
    90deg,
    var(--wine-color),
    var(--chocolate-color),
    var(--unbothered-color)
  );
  -webkit-background-clip: text;
  color: transparent;
  animation: gradientAnimation 5s ease-in-out infinite;
  background-size: 200% 200%;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.marquee {
  width: 100vw;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  padding-top: 40px;
}

.marquee-inner {
  display: flex;
  white-space: nowrap;
  animation: loopText 30s ease-in-out infinite;
}

.marquee-inner span {
  font-size: 8vw; /* Adjust size based on screen width */
  margin-right: 2vw; /* Add some spacing between repetitions */
}

@keyframes loopText {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

/* Media Queries for Responsiveness */
@media (max-width: 1024px) {
  /* Tablet screens */
  h1.rafael {
    font-size: 180px; /* Smaller size for tablets */
  }
}

@media (max-width: 768px) {
  /* Mobile screens */
  h1.rafael {
    font-size: 120px; /* Smaller size for mobile devices */
  }
}

@media (max-width: 480px) {
  /* Extra small screens */
  h1.rafael {
    font-size: 80px; /* Even smaller size for very small screens */
  }
  .marquee {
    padding-top: 50px;
  }
}
