@font-face {
  font-family: "Rafael";
  src: url("../assets/fonts/rafael_display-webfont.woff") format("woff"),
    url("../assets/fonts/RafaelDisplay.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

body,
html {
  height: 100%;
  margin: 0;
}

h1.rafael {
  font-family: "Rafael", sans-serif; /* Apply it globally or customize as needed */
}

h1 {
  font-size: 5rem;
  display: inline-block;
  margin: 0;
  padding: 0;
  line-height: 1;
}

.homeContainer {
  display: flex;
  flex-wrap: wrap;
  height: 80vh;
  justify-content: center;
  text-align: center;
  padding-top: 100px;
}

.gallery {
  display: grid;
  padding: 30px;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  grid-gap: 20px;
}

@media screen and (max-width: 767px) {
  .gallery {
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    grid-gap: 5px;
  }
}

.gallery__item {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.2s ease-in-out;
}

.gallery__item:hover {
  transform: scale(1.05);
}
