@font-face {
  font-family: "Rafael";
  src: url("../assets/fonts/rafael_display-webfont.woff") format("woff"),
    url("../assets/fonts/RafaelDisplay.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

body,
html {
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* Include padding and border in element's total width and height */
}

h1.rafael {
  font-family: "Rafael", sans-serif; /* Apply it globally or customize as needed */
}

h1 {
  font-size: 5rem;
  display: inline-block;
  margin: 0;
  padding: 0;
  line-height: 1;
}

.home {
  display: flex;
  flex-wrap: wrap;
  height: 100vh;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0 5%; /* Add padding to the left and right for proper centering */
}

img {
  max-height: 90vh; /* Use viewport height for image size */
  width: auto; /* Maintain aspect ratio */
  max-width: 100%; /* Prevent overflow on smaller screens */
}

/* Tablet responsiveness */
@media (max-width: 1024px) {
  h1 {
    font-size: 4rem; /* Adjust font size for tablets */
  }

  img {
    max-height: 70vh; /* Adjust image height for tablets */
  }

  .home {
    height: auto; /* Allow the height to adapt */
  }
}

/* Mobile responsiveness */
@media (max-width: 768px) {
  h1 {
    font-size: 3rem; /* Adjust font size for mobile */
  }

  img {
    max-height: 70vh; /* Adjust image height for mobile */
  }

  .home {
    flex-direction: column; /* Stack elements vertically on mobile */
    height: auto; /* Allow height to adapt */
  }
}
