@import url("variables.css");

.workContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 60px;
  margin-top: 2em;
  flex-wrap: wrap; /* Allows wrapping of cards to the next line */
  gap: 3rem; /* Space between cards */
}

.card {
  background-color: #f9f9f9; /* Card background color */
  padding: 16px; /* Padding inside the card */
  box-shadow: 0 4px 8px var(--wine-color); /* Card shadow */
  width: 200px; /* Width of each card */
  height: 200px;
  text-align: center; /* Center text inside card */
  display: flex;
  flex-direction: column;
  justify-content: center; /* Center content vertically within the card */
  flex: 1 1 200px; /* Allows the card to grow and shrink but maintains minimum width */
}

/* Media queries to control the number of cards per row */
@media (min-width: 600px) {
  .card {
    flex: 1 1 calc(33.333% - 3rem); /* 3 cards per row, adjust based on gap */
  }
  .workContainer {
    margin: 20px;
    margin-top: 2em;
  }
}

@media (min-width: 900px) {
  .card {
    flex: 1 1 calc(25% - 3rem); /* 4 cards per row, adjust based on gap */
  }
  .workContainer {
    margin: 30px;
    margin-top: 2em;
  }
}
