@import url("variables.css");

.workContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 16px; /* Space between cards */
  justify-content: center; /* Center the cards horizontally */
}

.card {
  background-color: #f9f9f9; /* Card background color */
  border: 1px solid #ddd; /* Card border */
  border-radius: 8px; /* Rounded corners */
  padding: 16px; /* Padding inside the card */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Card shadow */
  width: 200px; /* Width of each card */
  text-align: center; /* Center text inside card */
}
