/* Basic reset */

.workContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  min-height: 100vh;
}

.card {
  background-color: var(--background-color);
  border-radius: 1px;
}

.card:hover {
  transform: scale(1.1);
}

.card1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  text-align: center;
}

h2 {
  font-size: 7rem;
  font-weight: bold;
  background: linear-gradient(
    90deg,
    var(--wine-color),
    var(--chocolate-color),
    var(--unbothered-color)
  );
  -webkit-background-clip: text;
  color: transparent;
  animation: gradientAnimation 5s ease-in-out infinite;
  background-size: 200% 200%;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

p {
  color: var(--text-color);
  font-size: 1em;
  margin-bottom: 5px;
}

.card1img img {
  width: 100%;
  max-width: 500px;
  height: auto;
  border-radius: 2px;
  margin-top: 15px;
  object-fit: cover;
}

/* For tablets (768px - 1024px) */
@media (max-width: 1024px) and (min-width: 768px) {
  h2 {
    font-size: 2em;
    margin-bottom: 10px;
  }

  p {
    color: var(--text-color);
    font-size: 1em;
    margin-bottom: 5px;
  }
}

/* For mobile (below 768px) */
@media (max-width: 768px) {
  h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
  }

  p {
    color: var(--text-color);
    font-size: 1em;
    margin-bottom: 5px;
  }
}
